@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
  width: 100wv;
  height: 100vh;
  overflow-y: hidden;
}

body {
  font-family: 'Raleway' !important;
  background-color: #F2F3F5;
}

.app {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.create-feed {
  padding: 20px;
}

.create-feed__options {
  display: flex;
  padding: 10px;
  margin-top: 20px;
  justify-content: center;
  justify-content: space-between;
}


.sheet-wrapper {
  display: flex;
  justify-content: center;
}