.app {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
}

html {
  background-color: white;
}

.landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.create-feed {
  padding: 20px;
}

.create-feed__options {
  display: flex;
  padding: 10px;
  margin-top: 20px;
  justify-content: center;
  justify-content: space-between;
}

.sheet {
  max-width: 500px;
  margin: 0 auto;
}